*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

p{
    text-align: center;
}

body{
    background: rgb(30, 22, 30);
}

h1{
    text-align: center;
    margin-left: 30px;
    font-size: 3rem;
    text-transform: uppercase;
    color: antiquewhite;
}

h3{
    color: antiquewhite;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 170px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
    border-bottom: cornflowerblue;
    background: rgb(34, 17, 34);
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 2rem;
    color: antiquewhite;
}

.header .navbar a:hover{
    color: rgb(238, 168, 82);
    border-bottom: .1rem solid bisque;
    padding-bottom: .5rem;
}

.header .iconos div{
    color: antiquewhite;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .iconos div:hover{
    color: rgb(238, 168, 82);
}

.inicio{
    min-height: 90vh;
    display: flex;
    align-items: center;
    background:url(/images/imagen_principal2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.inicio .contenido{
    max-width:60rem;
}

.inicio .contenido h3{
    margin-left: 80px;
    font-size: 4rem;
    margin-top: 12rem;
    text-transform: uppercase;
    color: antiquewhite;
}

.procedimientos .contenedor_principal{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
}

.procedimientos .contenedor_principal .caja{
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
    border: solid rgb(137, 106, 94);
}

.procedimientos .contenedor_principal .caja img{
    height: 20rem;
}

.precio{
    color: antiquewhite;
}

.boton{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1rem;
    color: #932b2b;
    background-color: antiquewhite;
    cursor: pointer;
}

.imagen_procedimientos:hover{
    content: url(/nicopiercer/images/joyeria/ASTM-2.jpg);
}

.imagen_procedimientos1:hover{
    content: url(/nicopiercer/images/joyeria/ASTM-4.jpg);
}

.imagen_procedimientos2:hover{
    content: url(/nicopiercer/images/joyeria/ASTM-6.jpg);
}

.imagen_procedimientos3:hover{
    content: url(/nicopiercer/images/joyeria/ASTM-8.jpg);
}

.imagen_procedimientos4:hover{
    content: url(/nicopiercer/images/joyeria/ASTM-10.jpg);
}

.imagen_procedimientos5:hover{
    content: url(/nicopiercer/images/joyeria/ASTM-12.jpg);
}

.imagen_procedimientos6:hover{
    content: url(/nicopiercer/images/joyeria/ASTM-14.jpg);
}

.imagen_procedimientos7:hover{
    content: url(/nicopiercer/images/joyeria/ASTM-16.jpg);
}

.footer{
    background: rgb(34, 17, 34);
    text-align: center;
    color: antiquewhite;
    padding: 5rem;
}

.footer .redes a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: antiquewhite;
    border: solid rgb(137, 106, 94);
    margin: .3rem;
}

.footer .redes a:hover{
    color: rgb(238, 168, 82);
}

.creditos{
    font-size: 2rem;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer span{
    color: #932b2b;
}

/*estilos pagina inicio de sesión*/

.inicio_sesion{
    margin-top: 15rem;
}
.contenedor_principal_inicio_sesion{
    display: grid;
    text-align: center;
    margin: 2rem;
    pad: 2rem;
    color: antiquewhite;
}

.name, .password, .email{
    width: 500px;
    height: 40px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}