*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

p{
    text-align: center;
    color: antiquewhite;
}

body{
    background: rgb(30, 22, 30);
}

h1{
    text-align: center;
    margin-left: 30px;
    font-size: 3rem;
    margin-right: 30px;
    text-transform: uppercase;
    scroll-margin-top: 170px;
    color: antiquewhite;
    background-color: #932b2b;
}

h3, h2{
    color: antiquewhite;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 170px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
    border-bottom: cornflowerblue;
    background: rgb(34, 17, 34);
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 2rem;
    color: antiquewhite;
}

.header .navbar a:hover{
    color: rgb(238, 168, 82);
    border-bottom: .1rem solid bisque;
    padding-bottom: .5rem;
}

.header .iconos div{
    color: antiquewhite;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .iconos div:hover{
    color: rgb(238, 168, 82);
}

.inicio{
    min-height: 40vh;
    display: flex;
    align-items: center;
    background:url(/nicopiercer/images/imagen_principal2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.inicio .contenido{
    max-width: 60rem;
}

.inicio .contenido h3{
    margin-left: 80px;
    font-size: 4rem;
    margin-top: 10rem;
    text-transform: uppercase;
    color: antiquewhite;
}

.procedimientos .contenedor_principal{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
}

.procedimientos .contenedor_principal .caja{
    margin-top: 1rem;
    margin-right: 0.5rem;
    padding: 1rem;
    text-align: center;
    border: solid rgb(137, 106, 94);
}

.procedimientos .contenedor_principal .caja img{
    height: 20rem;
}

.precio{
    color: antiquewhite;
}

.boton{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1rem;
    color: #932b2b;
    background-color: antiquewhite;
    cursor: pointer;
}

.imagen_procedimientos:hover{
    content: url(/nicopiercer/images/joyeria/ASTM-2.jpg);
}

.imagen_procedimientos1:hover{
    content: url(/nicopiercer/images/joyeria/ASTM-4.jpg);
}

.imagen_procedimientos2:hover{
    content: url(/nicopiercer/images/joyeria/ASTM-6.jpg);
}

.imagen_procedimientos3:hover{
    content: url(/nicopiercer/images/joyeria/ASTM-8.jpg);
}

.imagen_procedimientos4:hover{
    content: url(/nicopiercer/images/joyeria/ASTM-10.jpg);
}

.imagen_procedimientos5:hover{
    content: url(/nicopiercer/images/joyeria/ASTM-12.jpg);
}

.imagen_procedimientos6:hover{
    content: url(/nicopiercer/images/joyeria/ASTM-14.jpg);
}

.imagen_procedimientos7:hover{
    content: url(/nicopiercer/images/joyeria/ASTM-16.jpg);
}

/* INICIO de Seccion portafolio y procedimientos*/
.portafolio .contenedor_portafolio{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.portafolio .contenedor_portafolio .caja_portafolio{
    margin-top: 1rem;
    margin-right: 0.5rem;
    padding: 1rem;
    text-align: center;
    border: solid rgb(137, 106, 94);
}
/*FIN de Seccion portafolio y procedimientos*/

/*INICIO vista perfil*/

.perfil {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 450px;
    padding: 35px;
    background: rgb(34, 17, 34);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
    border-radius: 10px;
    border: solid #aa7575;
}

.vista_perfil {
    text-align: center;
}

.vista_perfil .fa-times {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 2rem;
    color: #891b1b;
}

form{
    color: antiquewhite;
}

/*FIN vista perfil*/

/*INICIO vistas preliminares de productos*/
.vista_producto{
    position: fixed;
    top: 1rem; left: 0;
    min-height: 100vh;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.vista_producto .vista_previa{
    display: none;
    padding: 1rem;
    text-align: center;
    background: #271d26;
    position: relative;
    margin: 2rem;
    width: 25rem;
    border: solid #aa7575;
}

.vista_producto .vista_previa{
    display: inline-block;
}

.vista_producto .vista_previa img{
    height: 15rem;
}

.vista_producto .vista_previa .fa-times{
    position: absolute;
    top: 1rem; right: 1.5rem;
    cursor: pointer;
    font-size: 2rem;
    color: antiquewhite;
}

.vista_producto .vista_previa .botones{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-left: 6px;
}

.vista_producto .vista_previa .botones a{
    flex: 1fr 1fr 16rem;
    padding: .5rem;
    font-size: 1.5rem;
    color: antiquewhite;
    border: .2rem solid #000000;
}

.comprar:hover{
    background-color: #1c1515;
}

.agregar:hover{
    background-color: #1c1515;
}

.precio{
    font-size: 2rem;
    color: #ffffff;
}
/*FIN vistas preliminares de productos*/


/*INICIO de Seccion blog*/
.imagen_blog .contenedor_blog{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.imagen_blog .contenedor_blog .caja_blog{
    margin-top: 1rem;
    margin-right: 0.5rem;
    padding: 1rem;
    text-align: center;
    border: solid rgb(137, 106, 94);
}

.imagen_blog .contenedor_blog .caja_blog img{
    height: 30rem;
}

.imagen_blog1:hover{
    content: url(/nicopiercer/images/reseñas/reseña1.png);
}

.imagen_blog2:hover{
    content: url(/nicopiercer/images/reseñas/reseña3.png);
}

.imagen_blog3:hover{
    content: url(/nicopiercer/images/reseñas/reseña5.png);
}

.imagen_blog4:hover{
    content: url(/nicopiercer/images/reseñas/reseña7.png);
}
/*FIN de blog*/


/*INICIO de seccion información*/
.contenedor_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: start;
    border: solid rgb(137, 106, 94);
    margin-right: 0.5rem;
    background-image: url(/nicopiercer/images/imagen_principal3.jpg);
}

/* Estilos para las columnas */
.columna_izquierda{
    padding: 5rem;
    border-radius: 8px;
    text-align: center;
}

.columna_derecha{
    font-size: 30px;
    padding: 2rem;
}

.titulo_info, .h2_info{
    margin-bottom: 15px;
    font-size: 40px;
}
/*FIN de seccion información*/


/* INICIO de Seccion footer*/
.footer{
    background: rgb(34, 17, 34);
    text-align: center;
    color: antiquewhite;
    padding: 1rem;
}

.footer .redes a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: antiquewhite;
    border: solid rgb(137, 106, 94);
    margin: .5rem;
}

.footer .redes a:hover{
    color: rgb(238, 168, 82);
}

.creditos{
    font-size: 1rem;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer span{
    color: #932b2b;
}

.contacto_footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    border: solid rgb(137, 106, 94);
    margin-right: 0.5rem;
}

.cajas_footer h4, p{
    color: antiquewhite;
    font-size: 35px;
}

.caja_imagen{
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    margin-left: 5rem;
}

.mapa{
    padding: 2rem;
    width: 450px;
    height: 400px;
}

/* FIN de Seccion footer*/

/* INICIO de estilos pagina inicio de sesión*/

.inicio_sesion{
    margin-top: 15rem;
}
.contenedor_principal_inicio_sesion{
    display: grid;
    text-align: center;
    margin: 2rem;
    pad: 2rem;
    color: antiquewhite;
}

.name, .password, .email{
    width: 500px;
    height: 40px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}